<!DOCTYPE html>
<html lang="en"> 

    <%- include('parts/templates/head.ejs') -%>


<body>
    <%- include('parts/templates/header.ejs') -%>
    <%- include('parts/templates/authenticatedUser.ejs') -%>
    
    <%- include('parts/templates/sample.ejs') -%>
</body>

<footer>
    <%- include('parts/templates/footer.ejs') -%>
</footer>
</html>